# Please see the documentation for all configuration options:
# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    open-pull-requests-limit: 0
    schedule:
      interval: "daily"

  - package-ecosystem: "composer"
    directory: "/"
    open-pull-requests-limit: 0
    schedule:
      interval: "daily"
