/var/cache/*
!/var/cache/.gitkeep
!/var/cache/rector/
/var/cache/rector/*
!/var/cache/rector/.gitkeep
/var/storage/*
!/var/storage/.gitkeep
/vendor/
/old
.idea
.phpunit.cache
.phpunit.result.cache
.phpstan-memory-limit
.DS_Store
